nav{
    background-color: royalblue;

}
a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 0px 15px;
}
.about{
    float: right;


}
.contact{
    background-color: orange;

}
a:hover,:focus{ 
background-color: orangered;
outline: orange;
}
table, th, td{
    border: 1px solid;
    padding: 15px;

}
table{
    border-collapse: collapse;
    text-align: center;
    
}
tr:nth-child(odd)
{
    background-color: lightblue;
    
}
