*{
    margin: 0;
}
section{
    display: grid;
    display:inline-block;
    display: flex;
}
.here{
    background-color: rgb(222, 208, 204);
    border: 2px solid rgb(218, 176, 27);
    border-radius: 5px;    
    padding: 15px;
    color: brown;
    font-size: 2rem;
 
}