html{box-sizing: border-box;}
*, *:before, *:after{ box-sizing: inherit;}
*{
    margin: 0;
    text-align: center;
    
}
header, footer{
    background-color: rgb(59, 97, 234);
    opacity: 0,9;
    padding: 25px;
    color: white;
}
.img1{
    width: 80%;
    height: 500px;
}
aside{
    background-color: orange;
    height: 500px;
    width: 25%;
    color: white;
    border-radius: 10px;
    margin: 2%;
    
}
.container{
    height: 500px;
    width: 75%;
    background-color: brown;
    color: white;
}
.flex{
    display: flex;
    
}
main{
    height: 40%;
}

section{
    background-color: rgb(185, 137, 230);
    height: 20%;
    color: yellow;
}
.me{
    background-color: yellow;
    height: 40%;
    color: black;
}
.ad{
    
    width: 40%;
    height: 100%;
}
.img2{
    width: 40%;
    position: relative;
    bottom: 150px;
    left: 50px;

}

footer{
margin-top: 10px;
}